@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.placeholder-white::placeholder {
  color: white;
}

input::placeholder {
  color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-collapse>.ant-collapse-item >.ant-collapse-header {
  padding: 5px 0px 5px 0px !important;
  
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
  padding: 0px !important;
}

/* .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #248280;
  border-color: #248280;
}

.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  background-color: #248280 !important;
  border-color: #248280 !important;
}

.ant-checkbox-wrapper-checked:not(.ant-checkbox-disabled):hover
  .ant-checkbox-inner {
  background-color: #248280 !important;
  border-color: #248280 !important;
}

.ant-checkbox-wrapper-checked:not(.ant-checkbox-disabled):checked
  .ant-checkbox-inner {
  background-color: #248280 !important;
  border-color: #248280 !important;
} */

:where(.css-dev-only-do-not-override-ni1kz0).ant-checkbox-checked .ant-checkbox-inner { 
  background-color: #248280 !important;
  border-color: #248280 !important;}

  :where(.css-dev-only-do-not-override-ni1kz0).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #F3F4F5 !important;
  }